# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs and temp files
*.log
*.tmp

# Environment variables
.env

# Data files
*.csv
*.sqlite3

# Model artifacts
*.h5
*.pkl
